build*/
*.o
*.obj
*.exe
*.db
*.crt
*.key
CMakeUserPresets.json
.vscode/
.idea/
*.autogen
moc_*
qrc_*
ui_*
*.a
*.so
*.dylib
.DS_Store
Thumbs.db
nullchat.json
Nullchat-x86_64.AppImage
*.AppImage
packaging/nullchat.png
